.mediaViewInfo {
	--web-view-name: Menú de servicios – 3;
	--web-view-id: Men_de_servicios__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Men_de_servicios__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Men_de_servicios__3 {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(217,186,198,1);
	overflow: hidden;
	--web-view-name: Menú de servicios – 3;
	--web-view-id: Men_de_servicios__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#degradado {
	position: absolute;
	width: 375px;
	height: 667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#v_10 {
	left: 334px;
	top: 636px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -9px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#apagar {
	opacity: 0.7;
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 39px;
	height: 45px;
	left: 33px;
	top: 26px;
	overflow: visible;
}
#Select_a_service {
	left: 128px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(4,74,89,1);
}
#salud2 {
	position: absolute;
	width: 119px;
	height: 116px;
	left: 40px;
	top: 245px;
	overflow: visible;
}
#banco2 {
	position: absolute;
	width: 119px;
	height: 116px;
	left: 220px;
	top: 361px;
	overflow: visible;
}
#Rectngulo_2 {
	filter: blur(21px);
	fill: rgba(67,217,217,1);
	stroke: rgba(4,74,89,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 82px;
	left: 164px;
	top: 272px;
}
#Health {
	left: 219px;
	top: 287px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(4,74,89,1);
}
#Rectngulo_3 {
	filter: blur(21px);
	fill: rgba(67,217,217,1);
	stroke: rgba(4,74,89,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 82px;
	left: 33px;
	top: 396px;
}
#Bank {
	left: 97px;
	top: 411px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(4,74,89,1);
}
#flecha {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 44px;
	height: 43px;
	left: 299px;
	top: 26px;
	overflow: visible;
}
#Hello_User {
	filter: drop-shadow(0px 3px 6px rgba(13, 217, 218, 0.188));
	left: 105px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#LogoASPA {
	position: absolute;
	width: 76px;
	height: 99.387px;
	left: 150px;
	top: 36.8px;
	overflow: visible;
}
#servicios-medicos {
	position: absolute;
	width: 119px;
	height: 119px;
	left: 46px;
	top: 483px;
	overflow: visible;
}
#Rectngulo_5 {
	filter: blur(21px);
	fill: rgba(4,74,89,1);
	stroke: rgba(4,74,89,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 82px;
	left: 172px;
	top: 513px;
}
#Custom {
	left: 222px;
	top: 528px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(4,74,89,1);
}
#apagar_b {
	filter: drop-shadow(0px 5px 6px rgba(65, 209, 209, 0.439));
	position: absolute;
	width: 39px;
	height: 45px;
	left: 38px;
	top: 41px;
	overflow: visible;
}
#ajustes {
	filter: drop-shadow(0px 3px 6px rgba(67, 217, 217, 0.329));
	position: absolute;
	width: 45px;
	height: 45px;
	left: 299px;
	top: 41px;
	overflow: visible;
}