.mediaViewInfo {
	--web-view-name: eliminar;
	--web-view-id: eliminar;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: eliminar;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#eliminar {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(217,186,198,1);
	overflow: hidden;
	--web-view-name: eliminar;
	--web-view-id: eliminar;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#degradado {
	position: absolute;
	width: 375px;
	height: 667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#v_10 {
	left: 334px;
	top: 636px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -9px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Eliminar_cuenta {
	filter: drop-shadow(0px 3px 6px rgba(13, 217, 218, 0.188));
	left: 95px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#LogoASPA {
	position: absolute;
	width: 76px;
	height: 99.387px;
	left: 150px;
	top: 36.8px;
	overflow: visible;
}
#flecha-curva2 {
	position: absolute;
	width: 43px;
	height: 43px;
	left: 291px;
	top: 37px;
	overflow: visible;
}
#Rectngulo_5 {
	filter: blur(21px);
	fill: rgba(0,220,220,1);
	stroke: rgba(4,74,89,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 247px;
	height: 77px;
	left: 74px;
	top: 498px;
}
#Eliminar_bx {
	left: 154px;
	top: 516px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(4,74,89,1);
}
#mujer {
	position: absolute;
	width: 142px;
	height: 142px;
	left: 117px;
	top: 198px;
	overflow: visible;
}
#Gracias_por_usar_nuestra__apli {
	left: 74px;
	top: 363px;
	position: absolute;
	overflow: visible;
	width: 249px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}