.mediaViewInfo {
	--web-view-name: animación 1 – 12;
	--web-view-id: animacin_1__12;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: animacin_1__12;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#animacin_1__12 {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(67,217,217,1);
	overflow: hidden;
	--web-view-name: animación 1 – 12;
	--web-view-id: animacin_1__12;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#v_10_b {
	left: 334px;
	top: 636px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -9px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Rectngulo_4_b {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_4_b {
	position: absolute;
	overflow: visible;
	width: 64.5px;
	height: 8px;
	left: 80px;
	top: 474px;
}
#LogoASPA_azucell_C {
	position: absolute;
	width: 261px;
	height: 341.387px;
	left: 57px;
	top: 162.807px;
	overflow: visible;
}