.mediaViewInfo {
	--web-view-name: Preguntas frecuentes – 4;
	--web-view-id: Preguntas_frecuentes__4;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Preguntas_frecuentes__4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Preguntas_frecuentes__4 {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(217,186,198,1);
	overflow: hidden;
	--web-view-name: Preguntas frecuentes – 4;
	--web-view-id: Preguntas_frecuentes__4;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#degradado_r {
	position: absolute;
	width: 375px;
	height: 667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#v_10_r {
	left: 334px;
	top: 636px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -9px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#LogoASPA_r {
	position: absolute;
	width: 76px;
	height: 99.387px;
	left: 150px;
	top: 36.8px;
	overflow: visible;
}
#flecha-curva2_r {
	position: absolute;
	width: 43px;
	height: 43px;
	left: 166px;
	top: 574px;
	overflow: visible;
}
#FAQ_r {
	filter: drop-shadow(0px 3px 6px rgba(13, 217, 218, 0.188));
	left: 163px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#I_have_problems_with_voice_rec_r {
	left: 64px;
	top: 190px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#Can_I_update_my_user_profile_d_r {
	left: 64px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 20px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#How_can_I_check_the_status_of__r {
	left: 64px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#What_kind_of_content_can_I_fin_r {
	left: 64px;
	top: 401px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#How_can_I_add_a_new_service_sa {
	left: 64px;
	top: 454px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 20px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#A_try_again_and_if_it_doesnt_w {
	left: 64px;
	top: 243px;
	position: absolute;
	overflow: visible;
	width: 249px;
	height: 60px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(0,0,0,1);
}