.mediaViewInfo {
	--web-view-name: Registro – 3;
	--web-view-id: Registro__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Registro__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Registro__3 {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Registro – 3;
	--web-view-id: Registro__3;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#degradado_gc {
	position: absolute;
	width: 375px;
	height: 667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apagar_gd {
	opacity: 0.7;
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 39px;
	height: 45px;
	left: 33px;
	top: 26px;
	overflow: visible;
}
#ajustes_ge {
	opacity: 0.7;
	mix-blend-mode: overlay;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 298px;
	top: 26px;
	overflow: visible;
}
#Elipse_1_gf {
	fill: rgba(255,0,78,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_1_gf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 131px;
	left: 128px;
	top: 444px;
}
#n__gg {
	left: 123px;
	top: 568px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#microfono_gh {
	filter: drop-shadow(0px 3px 6px rgba(67, 217, 217, 1));
	position: absolute;
	width: 76px;
	height: 74px;
	left: 150px;
	top: 462px;
	overflow: visible;
}
#v_10_gi {
	left: 334px;
	top: 636px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -9px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Lnea_1_gj {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_1_gj {
	overflow: visible;
	position: absolute;
	width: 267.004px;
	height: 2px;
	left: 55px;
	top: 250px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2_gk {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2_gk {
	overflow: visible;
	position: absolute;
	width: 267.004px;
	height: 2px;
	left: 54px;
	top: 315px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_3_gl {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_3_gl {
	overflow: visible;
	position: absolute;
	width: 267.004px;
	height: 2px;
	left: 54px;
	top: 376px;
	transform: matrix(1,0,0,1,0,0);
}
#LogoASPA_gm {
	position: absolute;
	width: 76px;
	height: 99.387px;
	left: 150px;
	top: 36.8px;
	overflow: visible;
}
#apagar_gn {
	fill: rgba(4,74,89,1);
}
.apagar_gn {
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 63px;
	left: 33px;
	top: 26px;
}
#flecha-curva_go {
	position: absolute;
	width: 43px;
	height: 43px;
	left: 41px;
	top: 43px;
	overflow: visible;
}
#Thank_You {
	left: 137.5px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#your_voice_is_already_rec {
	left: 69.5px;
	top: 565px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#Rectngulo_1_gr {
	filter: blur(21px);
	fill: rgba(4,74,89,1);
	stroke: rgba(4,74,89,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1_gr {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 51px;
	left: 84px;
	top: 604px;
}
#Enter_gs {
	left: 164px;
	top: 604px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#Create_Account_gt {
	filter: drop-shadow(0px 3px 6px rgba(13, 217, 218, 0.188));
	left: 77px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#Full_name_gu {
	left: 55px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,74,89,1);
}
#User_name_gv {
	left: 55px;
	top: 260px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,74,89,1);
}
#Password__gw {
	left: 55px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,74,89,1);
}