.mediaViewInfo {
	--web-view-name: Registro – 5;
	--web-view-id: Registro__5;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Registro__5;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Registro__5 {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Registro – 5;
	--web-view-id: Registro__5;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#degradado_er {
	position: absolute;
	width: 375px;
	height: 667px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apagar_es {
	opacity: 0.7;
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 39px;
	height: 45px;
	left: 33px;
	top: 26px;
	overflow: visible;
}
#ajustes_et {
	opacity: 0.7;
	mix-blend-mode: overlay;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 298px;
	top: 26px;
	overflow: visible;
}
#Elipse_1_eu {
	fill: rgba(255,0,78,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Elipse_1_eu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 131px;
	left: 128px;
	top: 444px;
}
#n_ {
	left: 123px;
	top: 568px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#microfono_ew {
	filter: drop-shadow(0px 3px 6px rgba(67, 217, 217, 1));
	position: absolute;
	width: 76px;
	height: 74px;
	left: 150px;
	top: 462px;
	overflow: visible;
}
#v_10_ex {
	left: 334px;
	top: 636px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -9px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Lnea_1_ey {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_1_ey {
	overflow: visible;
	position: absolute;
	width: 267.004px;
	height: 2px;
	left: 55px;
	top: 250px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_2_ez {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_2_ez {
	overflow: visible;
	position: absolute;
	width: 267.004px;
	height: 2px;
	left: 54px;
	top: 315px;
	transform: matrix(1,0,0,1,0,0);
}
#Lnea_3_e {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Lnea_3_e {
	overflow: visible;
	position: absolute;
	width: 267.004px;
	height: 2px;
	left: 54px;
	top: 376px;
	transform: matrix(1,0,0,1,0,0);
}
#LogoASPA_e {
	position: absolute;
	width: 76px;
	height: 99.387px;
	left: 150px;
	top: 36.8px;
	overflow: visible;
}
#apagar_e {
	fill: rgba(4,74,89,1);
}
.apagar_e {
	mix-blend-mode: soft-light;
	filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 63px;
	left: 33px;
	top: 26px;
}
#flecha-curva_e {
	position: absolute;
	width: 43px;
	height: 43px;
	left: 41px;
	top: 43px;
	overflow: visible;
}
#Gracias_tu_voz_ha_sido {
	left: 82.5px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#grabada {
	left: 148.5px;
	top: 565px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}
#Rectngulo_1_e {
	filter: blur(21px);
	fill: rgba(4,74,89,1);
	stroke: rgba(4,74,89,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1_e {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 51px;
	left: 84px;
	top: 604px;
}
#Registro_e {
	filter: drop-shadow(0px 3px 6px rgba(13, 217, 218, 0.188));
	left: 128px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(0,0,0,1);
}
#Nombres_y_apellidos_e {
	left: 55px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,74,89,1);
}
#Usuario_e {
	left: 55px;
	top: 260px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,74,89,1);
}
#Contrasea__fa {
	left: 55px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(4,74,89,1);
}
#Registrar_fb {
	left: 145px;
	top: 606px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(4,74,89,1);
}